/* -------------- Set Variables ----------- */
:root {
  /* colors  */
  --blue-color: #3dbeff;
  --hover-blue-color: #6eceff;
  --yellow-color: #ffd302;
  --pink-color: #fe7261;
  --blade-color: #5fa799;
  --white-color: #fcfffd;
  --black-color: #1a1e27;
  --black-variant-color: #83828a;
  --black-degraded: #26554d;

  /* font size */
  --default-fontSize: 1.15rem;
  --title-fontSize: 3rem;
  --menu-item-fontSize: var(--default-fontSize);
  --section-title: 2rem;

  /* padding */
  --default-padding: 2rem 4rem;
  --button-padding: 0.8rem 1.6rem;
  --section-padding: 9rem 0;
  --description-padding: 10rem;

  /* Font Family */
  --primary-font: "Barlow", sans-serif;
  --secondary-font: "Fraunces", sans-serif;

  /* Border */
  --default-border-radius: 30px;
}

/* ---------------- Reset all styles --------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--black-color);
}

a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}

/* ---------------------- Header --------- */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--blue-color);
  padding: var(--default-padding);
}

.header__logo {
  font-size: 2rem;
  color: var(--white-color);
  font-weight: 600;
  font-family: var(--primary-font);
}

.nav {
  width: 30%;
  height: 100%;
}

.nav__list {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.nav__item {
  font-family: var(--primary-font);
  color: var(--white-color);
  padding: var(--button-padding);
  border-radius: var(--default-border-radius);
  transition: all 0.2s ease-in-out;
}

.nav__item--white-bg {
  background-color: var(--white-color);
  color: var(--black-color);
}

.nav__item:hover {
  background-color: var(--hover-blue-color);
  color: var(--white-color);
  cursor: pointer;
}

/*------------------ main --------------*/

/* hero section  */
.hero {
  background-image: url(./../images/desktop/image-header.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  text-align: center;
}

.hero__title {
  font-size: var(--title-fontSize);
  color: var(--white-color);
  font-weight: 900;
  text-transform: uppercase;
  font-family: var(--secondary-font);
  padding: var(--section-padding);
  letter-spacing: 1rem;
}

/* About Section  */

.about {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.about__description,
.about__image {
  flex-basis: 50%;
}

.about__description {
  display: flex;
  justify-content: center;
  align-items: center;
}

.description__container {
  padding: var(--description-padding);
}

.about__title {
  font-family: var(--secondary-font);
  font-size: var(--section-title);
  font-weight: 900;
}

.about__text {
  font-family: var(--primary-font);
  color: var(--black-variant-color);
  margin: 1.5rem 0;
}

.about__link {
  font-family: var(--secondary-font);
  box-shadow: 0 8px 5px 1px var(--yellow-color);
}

.about__image-img {
  width: 100%;
}

/* Expertise */

.expertise__container {
  display: flex;
}

.expertise {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  height: 90vh;
}

.expertise__description {
  padding: var(--description-padding);
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hidden {
  visibility: hidden;
}

.expertise__title {
  font-family: var(--secondary-font);
  font-size: var(--section-title);
  font-weight: 900;
  margin-bottom: 2rem;
  color: var(--black-degraded);
}

.experise__text {
  font-family: var(--primary-font);
  color: var(--black-degraded);
}

.expertise--bg-apple {
  background-image: url(./../images/desktop/image-graphic-design.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.expertise--bg-orange {
  background-image: url(./../images/desktop/image-photography.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
